@model IEnumerable<MVCAnnunces.dal.Entity.Annunce>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Delete Perime</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Detail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Posted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Limit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vues)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Detail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Posted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Limit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vues)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.AnnunceId,active =false })

            </td>
        </tr>
    }

</table>
